/* ------------------- Font Face ------------------- */
@font-face {
  font-family: "PolySans";
  src: url("../public/fonts/PolySans.woff2");
}
@font-face {
  font-family: "Ivar Display";
  src: url("../public/fonts/IvarDisplay.woff2");
}
/* ------------------- General------------------- */
.page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #401d19;
  z-index: 50;
}
.section {
  padding: 0 5%;
  width: 100%;
  padding-bottom: 150px !important;
}
/* ------------------- Section 1 ------------------- */
.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.section_1 .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.section_1 .head h1 {
  font-family: "PolySans";
  color: #edd0c6;
  line-height: 0.89583;
  font-size: 102.144px;
  text-align: center;
  font-weight: 300;
}
.section_1 .head h1 .spanHeadSection_1 {
  display: block;
}
.section_1 .head h1 span span {
  font-size: 100px;
  font-family: "Ivar Display";
  color: #ff682c;
}
.section_1 .head h1 span:nth-child(2) span:nth-child(1) {
  font-family: "Ivar Display";
  color: #edd0c6;
}
.section_1 .head .btn {
  position: relative;
  /* background-color: #ff682c; */
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: min-content;
  padding-left: 24px;
  padding-right: 24px;
  gap: 10px;
  border-radius: 100rem;
}
.section_1 .head .btn svg {
  height: 40%;
  width: auto;
}
.section_1 .head .btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff682c;
  z-index: -1;
  border-radius: 200px;
  transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.section_1 .head .btn:hover::before {
  transform: scale(1.05);
}
/* ------------------- Section 2 ------------------- */
.section_2 {
  width: 100%;
  height: 159vh;
  position: relative;
}
.section_2 svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -1;
}
.section_2 svg:nth-child(2) {
  top: -9rem;
}
.section_2 svg:nth-child(3) {
  top: 6rem;
}
.section_2 svg path {
  stroke-width: 0.5px;
}
.section_2 svg:nth-child(2) path {
  opacity: 0.5;
}
.section_2 svg:nth-child(3) path {
  opacity: 0.2;
}
.section_2 .body {
  padding: 0 5%;
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: rgba(240, 248, 255, 0.326); */
  top: 0;
  left: 0;
}
.section_2 .body #textSection_2,
.section_2 .body .text {
  margin-top: 10rem;
  color: #ff682c;
  font-size: 18px;
}
.section_2 .body .video {
  position: absolute;
  margin-top: 5rem;
  height: 90%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  /* background-color: #ff682c; */
}
.section_2 .body .video .vid {
  position: sticky;
  height: 100%;
  top: 28%;
  left: 0;
  /* transform: translate(-50%, 0); */
  aspect-ratio: 16 / 10;
  width: 550px;
  height: auto;
  border: 1px solid #ff682c;
  border-radius: 25px;
}
/* ------------------- Section 3 ------------------- */
/* .section_3 {
} */
.section_3 .head p {
  font-size: 24px;
  color: #ff682c;
}
.section_3 .head h2 {
  padding: 0 22%;
  align-self: stretch;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 140px;
}
.section_3 .head h2 svg {
  position: absolute;
  top: 32%;
  z-index: -1;
  opacity: 0.4;
}
.section_3 .head h2 span {
  /* align-self: stretch; */
  font-size: 86px;
  background-color: #401d19;
  line-height: 86px;
}
.section_3 .head h2 .span1,
.section_3 .head h2 span:nth-child(1) {
  text-align: left;
  font-family: "PolySans";
  font-weight: 300;
  transform: translateX(-40%);
  padding: 0 30px;
}
.section_3 .head h2 .span2,
.section_3 .head h2 span:nth-child(2) {
  padding: 0 30px;
  text-align: right;
  font-family: "Ivar Display";
  transform: translateX(40%);
  font-weight: 400;
}
.section_3 .head h2 span:nth-child(2) span {
  font-family: "Ivar Display";
  font-weight: 400;
  color: #ff682c;
  padding: 0;
}
.section_3 .body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.section_3 .body .card {
  width: 100%;
  border: 1px solid #863b32;
  padding: 60px 38px 42px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section_3 .body .card:hover {
  transform: translateY(-20px);
  background-color: #512520;
}
.section_3 .body .card svg {
  height: auto;
  width: 100%;
}
.section_3 .body .card .title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.section_3 .body .card .title h3 {
  font-size: 40px;
  font-family: "PolySans";
  font-weight: 300;
  color: rgb(237, 208, 198);
}
.section_3 .body .card .title h3 span {
  font-size: 40px;
  font-family: "Ivar Display";
  font-weight: 300;
}
.section_3 .body .card .title p {
  color: rgb(255, 104, 44);
  font-size: 20px;
  font-family: "PolySans";
}
.section_3 .body .card .title .hr {
  width: 100%;
  height: 1px;
  background-color: #863b32;
}
.section_3 .body .card .title svg {
  width: 12px;
  height: 12px;
  transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section_3 .body .card:hover .title svg {
  transform: rotate(180deg);
}
.section_3 .partner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 10em 0;
}
.section_3 .partner h2 {
  font-size: 15px;
  font-weight: 300;
  font-family: "PolySans";
}
.section_3 .partner .marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: row;
}
.section_3 .partner .marquee .marquee__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: row;
  width: fit-content;
  flex: auto;
}
/* ------------------- Section 4 ------------------- */
.section_4 {
  position: relative;
  width: 100%;
  padding: 0;
  /* margin-bottom: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.section_4 .BackGround {
  position: absolute;
  content: "";
  background-color: #ebe6dd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: calc(100% + 200px);
  z-index: -1;
  padding: 100px 0;
  border-radius: 20px;
}
.section_4 h3 {
  padding: 0 5%;
  color: #512520;
  text-align: center;
  font-family: "PolySans";
  font-weight: 300;
  font-size: 86px;
}
.section_4 h3 .spanSection_4 {
  display: block;
  /* background-color: red; */
  line-height: 86px;
}
.section_4 h3 span span {
  color: #ff682c;
  font-family: "Ivar Display";
}
.section_4 .hr {
  position: relative;
  padding: 0 5% !important;
  height: 1px;
  overflow: hidden;
  width: calc(100% - 10%);
}
.section_4 .hr div {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ff682c;
  transform-origin: left center;
  /* transition: 1.5s 0.6s cubic-bezier(0.645, 0.045, 0.355, 1); */
}
.section_4 .logoImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 5%;
}
.section_4 .logoImages .stripe_animations {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section_4 .logoImages .stripe_animations svg {
  width: 100%;
  height: auto;
}
.section_4 .logoImages .stripe_animations:nth-child(2),
.section_4 .logoImages .stripe_animations:nth-child(4) {
  margin-top: 5.5%;
}
.section_4 .logoImages .stripe_animations:nth-child(1) svg path,
.section_4 .logoImages .stripe_animations:nth-child(3) svg path {
  fill: #ff682c;
}
.section_4 .logoImages .stripe_animations:nth-child(2) svg path {
  fill: #512520;
}
.section_4 .logoImages .stripe_animations:nth-child(4) svg path {
  fill: #816729;
}
.section_4 .title {
  padding: 0 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #ff682c;
}
.section_4 .title .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  text-decoration: underline;
}
.section_4 .title .links {
  font-family: "PolySans";
  font-size: 20px;
}
.section_4 .title .text {
  font-size: 36px;
  line-height: 36px;
  text-indent: 5ch;
  font-weight: 300;
  font-family: "PolySans";
}
/* ------------------- Section 5 ------------------- */
.section_5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15rem;
}
.section_5 .sticky {
  height: 150vh;
}
.section_5 .sticky .cards {
  position: sticky;
  top: 20%;
  left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.section_5 .sticky .cards .cardSticky {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  /* height: fit-content; */
  padding: 52px 46px 48px 46px;
  border-radius: 30px;
  gap: 3rem;
  max-width: 450px;
}
.section_5 .sticky .cards .cardSticky:nth-child(1) {
  background-color: #ebd4c9;
  color: black;
}
.section_5 .sticky .cards .cardSticky svg path {
  fill: white;
}
.section_5 .sticky .cards .cardSticky:nth-child(2) {
  background-color: #816729;
}
.section_5 .sticky .cards .cardSticky:nth-child(3) {
  z-index: -1;
  background-color: #1f3138;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) {
  background-color: #ff682c;
}
.section_5 .sticky .cards .cardSticky:nth-child(1) svg {
  height: 40px;
  width: auto;
}
.section_5 .sticky .cards .cardSticky:nth-child(2) svg {
  height: 60px;
  width: auto;
}
.section_5 .sticky .cards .cardSticky:nth-child(3) svg {
  height: 77px;
  width: 188px;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) svg {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 93%;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) {
  align-items: center;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) .btn {
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-family: "PolySans";
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10rem;
  border: 1px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) .btn::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  z-index: -1;
  transition: 0.3s;
  border-radius: 50%;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) .btn:hover {
  color: #401d19;
  scale: 1.05;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) .btn:hover::before {
  border-radius: 0;
  top: 0;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 104px;
  line-height: 98.8px;
  font-weight: 300;
  font-family: "PolySans";
  color: white;
}
.section_5 .sticky .cards .cardSticky:nth-child(4) svg path {
  fill: #7d6731;
}
.section_5 .sticky .cards .cardSticky p {
  font-family: "PolySans";
  font-size: 18px;
  line-height: 27px;
}
.section_5 .sticky .cards .cardSticky .caption {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.section_5 .sticky .cards .cardSticky h4 {
  color: rgb(237, 208, 198);
  font-size: 28px;
  font-weight: 300;
  font-family: "PolySans";
}
.section_5 .sticky .cards .cardSticky .caption p:nth-child(1) {
  font-size: 30px;
  font-weight: 300;
  font-family: "Ivar Display";
}
.section_5 .sticky .cards .cardSticky .caption p:nth-child(2) {
  font-family: "PolySans";
  font-size: 14px;
  font-weight: 300;
}
.section_5 .faq {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.section_5 .faq .left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
}
.section_5 .faq .left h2 {
  font-size: 40px;
  color: rgb(237, 208, 198);
  font-family: "PolySans";
  font-weight: 300;
}
.section_5 .faq .left p {
  font-family: "PolySans";
  max-width: 300px;
  font-size: 18px;
  color: rgb(255, 104, 44);
  font-weight: 300;
}
.section_5 .faq .questions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.section_5 .faq .questions .question {
  background-color: transparent;
  padding: 15px 30px;
  width: 100%;
  border: 1px solid #863b32;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  cursor: pointer;
}
.section_5 .faq .questions .question .head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.section_5 .faq .questions .question .head svg {
  transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section_5 .faq .questions .question .head svg path {
  fill: rgb(237, 208, 198);
}
.section_5 .faq .questions .question:hover .head svg {
  transform: rotate(180deg);
}
.section_5 .faq .questions .question .head p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(237, 208, 198);
  font-family: "PolySans";
}
.section_5 .faq .questions .question .answer {
  display: none;
  text-align: left;
  padding-left: 39px;
  /* padding-bottom: 1rem; */
  font-size: 18px;
  font-weight: 400;
  color: rgb(237, 208, 198);
  font-family: "PolySans";
}
.section_5 .faq .questions .question.active .answer {
  display: block;
}
.section_5 .faq .questions .question.active .head svg path {
  fill: #ff682c;
}
.section_5 .faq .questions .question.active .head svg {
  transform: rotate(-45deg);
}
/* ------------------- Section 6 ------------------- */
.section_6 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}
.section_6 .fanSvg {
  position: absolute;
  z-index: -1;
  bottom: 20%;
  width: calc(23% + 20px);
  height: auto;
}
.section_6 svg path {
  fill: #816729;
}
.section_6 h3 {
  font-size: 40px;
  font-family: "PolySans";
  color: rgb(237, 208, 198);
  font-weight: 300;
}
.section_6 h3 span {
  color: #ff682c;
  font-family: "Ivar Display";
  text-decoration: underline;
  cursor: pointer;
}
.section_6 .body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.section_6 .body .posts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #816729;
  border-radius: 20px;
  width: 80%;
  background-color: #401d19;
}
.section_6 .body .hr {
  width: calc(100% - 80px);
  height: 1px;
  background-color: #816729;
  margin: 0 40px;
}
.section_6 .body .posts .post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
  cursor: pointer;
  gap: 2rem;
}
.section_6 .body .posts .post .left {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.section_6 .body .posts .post .left .date {
  color: rgb(237, 208, 198);
  font-size: 16px;
  font-family: "PolySans";
  font-weight: 300;
}
.section_6 .body .posts .post .left .title {
  color: rgb(237, 208, 198);
  font-family: "PolySans";
  font-weight: 300;
  font-size: 32px;
  transition: 0.4s;
}
/* .section_6 .body .posts .post .right {
} */
.section_6 .body .posts .post .right .img {
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.section_6 .body .posts .post .right .img img {
  width: 100%;
  height: auto;
  transition: 0.4s;
  vertical-align: top;
}
.section_6 .body .posts .post:hover .right .img img {
  scale: 1.1;
}
.section_6 .body .posts .post:hover .left .title {
  text-decoration: underline;
  color: #ff682c;
}
/* ------------------- Section 7 ------------------- */
.section_7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_7 .container {
  padding: 8% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #816729;
  border-radius: 20px;
}
.section_7 .container h3 {
  text-align: center;
  font-family: "PolySans";
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
}
.section_7 .container h3 span {
  color: #ff682c;
  font-family: "Ivar Display";
}
.section_7 .container button {
  position: relative;
  margin-bottom: 1%;
  font-family: "PolySans";
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  border: 1px solid #863b32;
  background-color: transparent;
  border-radius: 10rem;
  transition: 0.3s;
  overflow: hidden;
  transform: translateY(-20%);
}
.section_7 .container button::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  background-color: #863b32;
  z-index: -1;
  transition: 0.3s;
  border-radius: 50%;
}
.section_7 .container button:hover {
  scale: 1.05;
}
.section_7 .container button:hover::before {
  border-radius: 0;
  top: 0;
}
