/* ------------------- Font Face ------------------- */
@font-face {
  font-family: "PolySans";
  src: url("../public/fonts/PolySans.woff2");
}
@font-face {
  font-family: "Ivar Display";
  src: url("../public/fonts/IvarDisplay.woff2");
}
/* ------------------- General------------------- */
.page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.section {
  padding: 0 5%;
  width: 100%;
}
/* ------------------- Section 1 ------------------- */
.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.section_1 .head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.section_1 .head h1 {
  font-family: "PolySans";
  color: #edd0c6;
  line-height: 0.89583;
  font-size: 102.144px;
  text-align: center;
  font-weight: 300;
}
.section_1 .head h1 span {
  font-size: 100px;
  font-family: "Ivar Display";
  color: #ff682c;
}
.section_1 .head h1 span:nth-child(3) {
  font-family: "Ivar Display";
  color: #edd0c6;
}
.section_1 .head .btn {
  position: relative;
  /* background-color: #ff682c; */
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: min-content;
  padding-left: 24px;
  padding-right: 24px;
  gap: 10px;
  border-radius: 100rem;
}
.section_1 .head .btn svg {
  height: 40%;
  width: auto;
}
.section_1 .head .btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff682c;
  z-index: -1;
  border-radius: 200px;
  transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.section_1 .head .btn:hover::before {
  transform: scale(1.05);
}
/* ------------------- Section 2 ------------------- */
.section_2 {
  width: 100%;
  height: 159vh;
  position: relative;
  padding-bottom: 150px;
}
.section_2 svg {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -1;
}
.section_2 svg:nth-child(2) {
  top: -9rem;
}
.section_2 svg:nth-child(3) {
  top: 6rem;
}
.section_2 svg path {
  stroke-width: 0.5px;
}
.section_2 svg:nth-child(2) path {
  opacity: 0.5;
}
.section_2 svg:nth-child(3) path {
  opacity: 0.2;
}
.section_2 .body {
  padding: 0 5%;
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: rgba(240, 248, 255, 0.326); */
  top: 0;
  left: 0;
}
.section_2 .body .text {
  margin-top: 10rem;
  color: #ff682c;
  font-size: 18px;
}
.section_2 .body .video {
  position: absolute;
  margin-top: 5rem;
  height: 90%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  /* background-color: #ff682c; */
}
.section_2 .body .video .vid {
  position: sticky;
  height: 100%;
  top: 28%;
  left: 0;
  /* transform: translate(-50%, 0); */
  aspect-ratio: 16 / 10;
  width: 550px;
  height: auto;
  border: 1px solid #ff682c;
  border-radius: 30px;
}
/* ------------------- Section 3 ------------------- */
.section_3 {
}
.section_3 .head p {
  font-size: 24px;
  color: #ff682c;
}
.section_3 .head h2 {
  padding: 0 22%;
  align-self: stretch;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 140px;
}
.section_3 .head h2 svg {
  position: absolute;
  top: 32%;
  z-index: -1;
  opacity: 0.4;
}
.section_3 .head h2 span {
  /* align-self: stretch; */
  font-size: 86px;
  background-color: #401d19;
  line-height: 86px;
}
.section_3 .head h2 .span1,
.section_3 .head h2 span:nth-child(1) {
  text-align: left;
  font-family: "PolySans";
  font-weight: 300;
  transform: translateX(-40%);
  padding: 0 30px;
}
.section_3 .head h2 .span2,
.section_3 .head h2 span:nth-child(2) {
  padding: 0 30px;
  text-align: right;
  font-family: "Ivar Display";
  transform: translateX(40%);
  font-weight: 400;
}
.section_3 .head h2 span:nth-child(2) span {
  font-family: "Ivar Display";
  font-weight: 400;
  color: #ff682c;
  padding: 0;
}
.section_3 .body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.section_3 .body .card {
  width: 100%;
  border: 1px solid #863b32;
  padding: 60px 38px 42px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section_3 .body .card:hover {
  transform: translateY(-20px);
  background-color: #512520;
}
.section_3 .body .card svg {
  height: auto;
  width: 100%;
}
.section_3 .body .card .title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.section_3 .body .card .title h3 {
  font-size: 40px;
  font-family: "PolySans";
  font-weight: 300;
  color: rgb(237, 208, 198);
}
.section_3 .body .card .title h3 span {
  font-size: 40px;
  font-family: "Ivar Display";
  font-weight: 300;
}
.section_3 .body .card .title p {
  color: rgb(255, 104, 44);
  font-size: 20px;
  font-family: "PolySans";
}
.section_3 .body .card .title .hr {
  width: 100%;
  height: 1px;
  background-color: #863b32;
}
.section_3 .body .card .title svg {
  width: 12px;
  height: 12px;
  transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section_3 .body .card:hover .title svg {
  transform: rotate(180deg);
}
