/* ------------------- Font Face ------------------- */
@font-face {
  font-family: "PolySans";
  src: url("../../../../public/fonts/PolySans.woff2");
}
@font-face {
  font-family: "Ivar Display";
  src: url("../../../../public/fonts/IvarDisplay.woff2");
}
/* ------------------- NavBar ------------------- */
.NavBar {
  font-family: "PolySans";
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
  margin-top: 20px;
  position: relative;
  z-index: 99;
}
.NavBar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBar .logo svg {
  width: 112px;
  height: auto;
}
.NavBar .logo svg path {
  fill: #ff682c;
}
.NavBar .links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.NavBar .links .link {
  padding: 7px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  color: #ff682c;
  font-size: 18px;
  transition: 0.5s;
  background-color: transparent;
  outline: none;
  border: none;
}
.NavBar .links .link svg {
  transition: 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.NavBar .links .link.active svg {
  transform: rotate(180deg);
}
.NavBar .links .link.active,
.NavBar .links .link:hover {
  background-color: #512520;
}
.NavBar .contactButton {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  color: #edd0c6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PolySans";
}
.NavBar .contactButton span {
  transition: 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.NavBar .contactButton.active span:nth-child(1) {
  opacity: 0;
  visibility: hidden;
}
.NavBar .contactButton span:nth-child(2) {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.NavBar .contactButton.active span:nth-child(2) {
  opacity: 1;
  visibility: visible;
}
.NavBar .contactButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #863b32;
  z-index: -1;
  border-radius: 200px;
  transition: 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.NavBar .contactButton:hover::before {
  transform: scale(1.05);
}
.NavBar .contactButton.active::before {
  background-color: #ff682c;
}
/* ------------------- Menus ------------------- */
/* ------------------- Menu Services ------------------- */
.menuServices {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s 0.5s ease, opacity 0.5s 0.5s ease; /* تحديد مدة الانتقال 0.5 ثانية */
}
.menuServices.active {
  transition: visibility 0.5s ease, opacity 0.5s ease; /* تحديد مدة الانتقال 0.5 ثانية */
  z-index: 52;
  opacity: 1;
  visibility: visible;
}
.menuServices .backSection {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #edd0c6;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5%;
  transform: translateY(-100%);
  transition: transform 1.25s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuServices .backSection .figureSvg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 2;
  overflow: hidden;
}
.menuServices .backSection .figureSvg svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -30%;
  right: 0;
}
.menuServices .backSection .figureSvg svg path {
  fill: #f6e2d8;
}
.menuServices.active .backSection {
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}
.menuServices .backSection .contact {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.menuServices .backSection .contact h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  font-family: "PolySans";
  color: rgb(255, 104, 44);
}
.menuServices .backSection .contact button {
  position: relative;
  color: rgb(237, 208, 198);
  outline: none;
  border: none;
  font-family: "PolySans";
  padding: 12px 20px;
  background-color: transparent;
  font-size: 16px;
}
.menuServices .backSection .contact button::before {
  background-color: rgb(255, 104, 44);
  border-radius: 10rem;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: scale 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menuServices .backSection .contact button:hover::before {
  scale: 1.05;
}
.menuServices .body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 120px 5% 50px 5%;
  width: 100%;
  background-color: #331613;
  transform: translateY(calc(-100% - 80px));
  transition: transform 1.25s 0s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
}
.menuServices.active .body {
  transition: transform 1.25s 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}
.menuServices .body .card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border: 1px solid #863b32;
  padding: 34px;
  border-radius: 12px;
  max-height: 580px;
  height: 580px;
  cursor: pointer;
  transition: 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menuServices .body .card:hover {
  background-color: #512520;
  transform: translateY(-20px);
}
.menuServices .body .card .headText {
  width: 100%;
  font-size: 40px;
  color: rgb(237, 208, 198);
  font-family: "PolySans";
  font-weight: 300;
}
.menuServices .body .card .headText span {
  font-family: "Ivar Display";
  font-size: 42.56px;
}
.menuServices .body .card:nth-child(2) .headText {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.menuServices .body .card:nth-child(2) .headText span:nth-child(1) {
  font-family: "PolySans";
}
.menuServices .body .card:nth-child(2) .headText span:nth-child(1) span {
  font-family: "Ivar Display";
}
.menuServices .body .card:nth-child(2) .headText span:nth-child(2) {
  font-family: "PolySans";
  color: #ff682c;
  font-size: 16px;
}
.menuServices .body .card img {
  width: 100%;
  height: auto;
}
/* ------------------- Menu Ventriloc ------------------- */
.menuVentriloc {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s 0.6s linear, opacity 0.5s 0.6s linear; /* تحديد مدة الانتقال 0.5 ثانية */
}
.menuVentriloc.active {
  z-index: 52;
  transition: visibility 0.5s linear, opacity 0.5s linear; /* تحديد مدة الانتقال 0.5 ثانية */
  opacity: 1;
  visibility: visible;
}
.menuVentriloc .body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #331613;
  padding: 0 5%;
  width: 100%;
  /* height: 300px; */
  position: relative;
  transition: transform 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translateY(-100%);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
}
.menuVentriloc.active .body {
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0%);
}
.menuVentriloc .body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 5%;
  height: 100%;
  width: 1px;
  background-color: #863b32;
}
.menuVentriloc .body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 5%;
  height: 100%;
  width: 1px;
  background-color: #863b32;
}
.menuVentriloc .body .links {
  padding: 0 40px;
  padding-top: calc(123px + 116px);
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid #863b32;
  border-right: 1px solid #863b32;
}
.menuVentriloc .body .links .link {
  min-width: 350px;
  font-size: 40px;
  /* line-height: 40px; */
  font-family: "PolySans";
  font-weight: 300;
  overflow: hidden;
  color: #edd0c6;
  transition: color 0.3s; /* تطبيق التأثير عند hover وعند إلغاء hover */
}
.menuVentriloc .body .links .link:hover {
  color: #ff682c;
}
.menuVentriloc .body .links .link span {
  opacity: 0;
  display: block;
  transform: translateY(-100%);
}
.menuVentriloc.active .body .links .link:nth-child(1) span {
  transition: transform 0.7s 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc.active .body .links .link:nth-child(2) span {
  transition: transform 0.7s 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc.active .body .links .link:nth-child(3) span {
  transition: transform 0.7s 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc.active .body .links .link:nth-child(4) span {
  transition: transform 0.7s 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc.active .body .links .link:nth-child(5) span {
  transition: transform 0.7s 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc.active .body .links .link span {
  opacity: 1;
  transform: translateY(0%);
}
.menuVentriloc .body .links .link:nth-child(1) span {
  transition: transform 0.7s 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc .body .links .link:nth-child(2) span {
  transition: transform 0.7s 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc .body .links .link:nth-child(3) span {
  transition: transform 0.7s 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc .body .links .link:nth-child(4) span {
  transition: transform 0.7s 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuVentriloc .body .links .link:nth-child(5) span {
  transition: transform 0.7s 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
/* ------------------- Menu Contact ------------------- */
.menuContact {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s 0.6s ease, opacity 0.5s 0.6s ease; /* تحديد مدة الانتقال 0.5 ثانية */
}
.menuContact.active {
  transition: visibility 0.5s ease, opacity 0.5s ease; /* تحديد مدة الانتقال 0.5 ثانية */
  z-index: 52;
  opacity: 1;
  visibility: visible;
}
.menuContact .body {
  background-color: #ebe6dd;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 120px 5% 50px 5%;
  width: 100%;
  position: relative;
  transform: translateY(-100%);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
  transition: transform 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menuContact.active .body {
  transform: translateY(0%);
  transition: transform 1.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuContact .body .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0s 650ms linear, opacity 350ms 0.1s linear;
  transition-delay: 850ms !important;
}
.menuContact.active .body .head {
  transition: transform 850ms cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 350ms linear;
  opacity: 1;
  transform: translateY(0%);
}
.menuContact .body .head .left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.menuContact .body .head .left p:first-child {
  color: rgb(134, 59, 50);
  font-size: 16px;
  font-weight: 300;
  font-family: "PolySans";
}
.menuContact .body .head .left p:last-child {
  color: rgb(134, 59, 50);
  font-size: 24px;
  font-weight: 300;
  font-family: "PolySans";
}
.menuContact .body .head .right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.menuContact .body .head .right .link:nth-child(1) {
  font-family: "PolySans";
  margin-bottom: 2rem;
  color: rgb(134, 59, 50);
  font-size: 16px;
  font-weight: 300;
}
.menuContact .body .head .right .link:nth-child(2),
.menuContact .body .head .right .link:nth-child(3) {
  font-family: "PolySans";
  color: rgb(255, 104, 44);
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}
.menuContact .body .form {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0s 650ms linear, opacity 350ms 0.1s linear;
}
.menuContact.active .body .form {
  transition: transform 850ms 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 350ms 0.4s linear;
  transition-delay: 550ms;
  opacity: 1;
  transform: translateY(0%);
}
.menuContact .body .form .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.menuContact .body .form .top .right,
.menuContact .body .form .top .left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.menuContact .body .form input,
.menuContact .body .form .top .right input,
.menuContact .body .form .top .left input {
  width: 100%;
  padding: 20px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(134, 59, 50);
  font-family: "PolySans";
  color: #7a6630;
  font-size: 24px;
  font-weight: 300;
}
.menuContact .body .form input::placeholder,
.menuContact .body .form .top .right input::placeholder,
.menuContact .body .form .top .left input::placeholder {
  font-family: "PolySans";
  color: rgb(255, 104, 44);
}
.menuContact .body .form .btn {
  display: block;
  position: absolute;
  bottom: 5%;
  right: 0;
  border: none;
  outline: none;
  color: rgb(237, 208, 198);
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "PolySans";
  font-weight: 400;
  background-color: transparent;
  z-index: 1;
}
.menuContact .body .form .btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff682c;
  border-radius: 10px;
  z-index: -1;
  transition: scale 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menuContact .body .form .btn:hover::before {
  scale: 1.05;
}
/* ------------------- Responsive ------------------- */
@media (min-width: 768px) {
  .NavBar .logo svg {
    width: 188px;
  }
}
@media (min-width: 1024px) {
  .NavBar .logo svg {
    width: 231px;
  }
}
